body, html {
    height: 100%;
}
body {
    font-size: 11pt;
    font-family: Raleway, 'Trebuchet MS', Arial, sans-serif !important;
}
#docs-frame {
    display: block;
}
.brand-title {
    font-size: 1.5em;
}
.center {
    text-align: center;
}
.header-wrap {
    z-index: 1;
    position: absolute;
    width:100%;
    background: white;
    box-shadow: 0 0 8px #aaa;
}
.header-row {
    height: 3em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.tab-content {
    position: absolute;
    top: 4.5em;
    bottom: 0;
    left: 0;
    right: 0;
}
.tab-pane {
    height: 100%;
}
.tab-pane.container {
    padding-top: 2em;
}
.nav > li > a {
    padding: 0.5em 1em;
    padding-bottom: 0.4em;
    margin: 0 0.25em;
}
.brand-header {
    float: left;
}
img.brand-logo {
    text-align: center;
    height: 3em;
    margin-right: 1em;
    margin-top: -0.3em;
    margin-bottom: 0.3em;
    width: auto;
}
