body, html {
    height: 100%;
}
body {
    font-size: 11pt;
    font-family: ff-enzo-web;
    font-weight: 600;
}
#docs-frame {
    display: block;
}
.brand-title {
    font-family: ff-enzo-web;
    font-weight: 300;
    font-size: 2em;
    sup {
	font-size: 0.5em;
	font-family: georgia, serif;
	font-style: italic;
	color: #999;
    }
}

.center {
    text-align: center;
}
.header-wrap {
    z-index: 1;
    position: absolute;
    width:100%;
    background: white;
    box-shadow: 0 0 8px #aaa;
}
.header-row {
    height: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.tab-content {
    position: absolute;
    top: 4.5em;
    bottom: 0;
    left: 0;
    right: 0;
}
.tab-pane {
    height: 100%;
}
.tab-pane.container {
    padding-top: 2em;
}
.juliaboxmsg {
  position: absolute; 
  bottom: .5em;
  z-index: 9999;
  width: 100%;
  margin: 0px;
  padding: 5px 35px;
}
.nav > li > a {
    padding: 0.5em;
    font-size: 1em;
    margin: 0 0.5em;
}
img.brand-logo {
    height: 2.667em;
    width: auto;
    display: block;
    margin: 0.25em auto;
}
.brand-title.col-md-2 {
    line-height: 1em;
}
pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.navicons {
    padding-top:.5em;
    .nav-pills {
	float: right;
    }
}
// Bootstrap overrides
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #fff;
    background: #5B5754;
    box-shadow: 0px 0px 3px #5B5754;
}

.nav-pills a {
    color: #5B5754;
}
.nav-pills > li > a:hover {
    background: #5BBFDA;
    color: #fff;
}