body {
  font-size: 11pt;
  font-family: Raleway;
}
.brand-title {
  font-size: 1.5em;
}
.center {
  text-align: center;
}
.header-row {
  margin-top: 2em;
}
.nav > li > a {
  padding: 0.5em 1em;
  padding-bottom: 0.4em;
  margin: 0 0.25em;
}
img.cloud-logo {
  text-align: center;
  height: 3em;
  margin-right: 1em;
  width: auto;
}
.modules .container {
  margin-top: 2em;
}
/* IPython Notebook style overrides */
div.navbar-inner {
  display: none;
}
input[type=file] {
  font-family: Raleway;
}
/* ShellInAbox fonts. Inconsolata */
#console-frame {
  min-height: 460px;
}
#vt100 #console,
#vt100 #alt_console,
#vt100 #cursor,
#vt100 #lineheight,
#vt100 .hidden pre {
  font-family: Inconsolata, "DejaVu Sans Mono", "Everson Mono", FreeMono, "Andale Mono", monospace !important;
}
